 <div id = "datagrid1" class = "mini-datagrid" style = "width:800px;height:280px;" allowResize = "true"
	url = "../AjaxService/MenuSearch" idField = "menuId" multiSelect = "true">
	 <div property = "columns">
	 <!-- <div type = "indexcolumn">  </div> -->
	 <div type = "checkcolumn">  </div>
	 <div field = "menuId" width = "120" headerAlign = "center" allowSort = "true"> <%== tr("ID") %> </div>
	 <div field = "menuCd" width = "120" headerAlign = "center" allowSort = "true"> <%== tr("代码") %> </div>
	 <div field = "menuName" width = "120"> <%== tr("名称") %> </div>
	 <div field = "menuDesc" width = "100"> <%== tr("描述") %> </div>
	 <div field = "menuTooltip" allowSort = "true"> <%== tr("提示") %> </div>
	 <div field = "url" width = "100" headerAlign = "center" allowSort = "true"> <%== tr("Url地址") %> </div>
	 <div field = "createdBy" width = "100" renderer = "onGenderRenderer"> <%== tr("创建者") %> </div>
	 <div field = "createdAt" width = "100" headerAlign = "center" dateFormat = "yyyy-MM-dd" allowSort = "true"> <%== tr("创建事件") %> </div>
	 <div field = "updatedBy" width = "100" renderer = "onBirthdayRenderer"> <%== tr("更新者") %> </div>
	 <div field = "updatedAt" width = "100" headerAlign = "center" dateFormat = "yyyy-MM-dd" allowSort = "true"> <%== tr("更新时间") %> </div>
	 <div field = "lockRevision" width = "100"> <%== tr("锁定") %> </div>

	 </div>
</div>
 <script type="text/javascript">
        mini.parse();

        var grid = mini.get("datagrid1");
        grid.load(); 
</script>
