<%#include "vroleuser.h" %>
<%#include "sqlobjects/vroleuserobject.h" %>
<%#include "tmodelutil.h" %>
<%
QString lang = httpRequest().cookie("lang");
QString skin = httpRequest().cookie("miniuiSkin");
QString mode = httpRequest().cookie("miniuiMode");

QString currentUserZh = controller()->session().value("currentUserZh").toString();
QString currentUserEn = controller()->session().value("currentUserEn").toString();
QString loginUserName = controller()->identityKeyOfLoginUser();

QString toDoRole = httpRequest().cookie("toDoRole");
int currentRoleId = controller()->session().value(toDoRole).toInt();
int currentUserId = controller()->session().value("currentUserId").toInt();

TCriteria cri;
cri.add(VRoleUserObject::UserId, currentUserId);
auto roleList = tfGetModelListByCriteria< VRoleUser, VRoleUserObject >(cri);

%>
<h1 style="margin:5px;width:525px;font-family:Microsoft YaHei,SimHei,SimSun; display:inline"><%== UI("AircraftMaintenanceManagementSystem") %></h1>
	<div style="position: absolute;text-align:right;right:12px;font-size:12px;line-height:25px;font-weight:normal;display:inline-block;">
		<div style="display: inline-block; margin-left:2px"><%== UI("Skin") %>:</div>
		<select id="selectSkin" onchange="onSkinChange(this.value)">
			<option value="">Default</option>
			<option value="blue" <%== skin=="blue"? "selected='selected'":"" %>>Blue</option>
			<option value="pure" <%== skin=="pure"? "selected='selected'":"" %>>Pure</option>
			<option value="gray" <%== skin=="gray"? "selected='selected'":"" %>>Gray</option>                
			<option value="olive2003" <%== skin=="olive2003"? "selected='selected'":"" %>>Olive2003</option>
			<option value="blue2003" <%== skin=="blue2003"? "selected='selected'":"" %>>Blue2003</option>
			<option value="blue2010" <%== skin=="blue2010"? "selected='selected'":"" %>>Blue2010</option>
			<option value="bootstrap" <%== skin=="bootstrap"? "selected='selected'":"" %>>Bootstrap</option>
			<option value="metro" <%== skin=="metro"? "selected='selected'":"" %>>metro</option>
			<option value="metro-green" <%== skin=="metro-green"? "selected='selected'":"" %>>metro-green</option>
			<option value="metro-orange" <%== skin=="metro-orange"? "selected='selected'":"" %>>metro-orange</option>
			<option value="jqueryui-cupertino" <%== skin=="jqueryui-cupertino"? "selected='selected'":"" %>>jqueryui-cupertino</option>
			<option value="jqueryui-smoothness" <%== skin=="jqueryui-smoothness"? "selected='selected'":"" %>>jqueryui-smoothness</option>
		</select>
		<div style="display: inline-block; margin-left:2px"><%== UI("Size Mode") %>:</div>
		<select id="selectMode" onchange="onModeChange(this.value)">
		    <option value="small"<%== mode=="small"? "selected='selected'":"" %>>Small</option> 		
			<option value=""<%== mode==""? "selected='selected'":"" %>>Default</option>				
			<option value="medium"<%== mode=="medium"? "selected='selected'":"" %>>Medium</option>
			<option value="large"<%== mode=="large"? "selected='selected'":"" %>>Large</option>         	
		</select>
		<div style="display: inline-block; margin-left:2px"><%== UI("Lang") %>:</div>
		<select id="selectLang" onchange="onLangChange(this.value)">
			<option value="zh" <%== lang=="zh"? "selected='selected'":"" %>>中文</option>
			<option value="en" <%== lang=="en"? "selected='selected'":"" %>>English</option>               
		</select>
		<div style="display:inline-block; margin-left:2px"><%== UI("Current User") %>:<%== lang=="zh"? currentUserZh:currentUserEn %>(<%== loginUserName %>)</div>
		<div style="display:inline-block; margin-left:2px"><%== UI("ToDoRole") %>:</div>
		<select id="selectToDoRole" onchange="onToDoRoleChange(this.value)">
			<option value=""></option>
			 <% for(const auto &i : roleList) { %>
			 <%    QString hash=hmac(i.roleId());    %>
			       <option value="<%== hash %>" <%== currentRoleId==i.roleId()? "selected='selected'":"" %>><%== lang=="zh"? i.roleNameZh():i.roleNameEn() %></option>
			 <% } %>				
		</select>
		<a href="/Welcome/logOut"><%== UI("Log Out") %></a>
	</div>
