<%#include "dataservicecontroller.h" %>
<%#include "sqlobjects/vmenusgroupmenuobject.h" %>
<%
QString lang = httpRequest().cookie("lang");
QString tid = tId();

TCriteria cri;
QList<QPair<int, Tf::SortOrder>> sorts;
QStringList fields;

cri.add(VMenusGroupMenuObject::MenusGroupId, variant("menusGroupId"));
sorts<<qMakePair(VMenusGroupMenuObject::MenuOrder,Tf::AscendingOrder)<<qMakePair(VMenusGroupMenuObject::MenuCd,Tf::AscendingOrder);
fields<<"menuId"<<"menuCd"<<"menuNameZh"<<"menuNameZh"<<"menuOrder";

QString data = "";
%>
<div id="assignedMenu<%== tid %>" class="mini-listbox" style="width:250px;height:150px;" textfield="<%== lang == "zh" ? "menuNameZh" : "menuNameEn"; %>"
valuefield="menuId" showcheckbox="true" multiselect="true" data='<%== data %>' >
  <div property="columns">
    <div type="indexcolumn"></div>
    <div type="checkcolumn"></div>
    <div visible="false" field="menuId"></div>
    <div header="<%== UI("MENUCD") %>" field="menuCd"></div>
    <div header="<%== lang == "zh" ? "menuNameZh" : "menuNameEn"; %>" field="<%== lang == "zh" ? UI("MENUNAMEZH") : UI("MENUNAMEEN") %>"></div>
    <div header="<%== UI("MENUORDER") %>" field="menuOrder"></div>
    <div header="<%== UI("BREAKBOOL") %>" field="breakBool" type="checkboxcolumn"></div>
  </div>
</div>