<%#include "dataservicecontroller.h" %>
<%#include "sqlobjects/vmenusgroupmenuobject.h" %>
<%
QString lang = httpRequest().cookie("lang");
QString tid = tId();

TCriteria cri;
QList<QPair<int, Tf::SortOrder>> sorts;
QStringList fields;

cri.add(VMenusGroupMenuObject::MenuId, variant("menuId"));
sorts<<qMakePair(VMenusGroupMenuObject::MenusGroupCd,Tf::AscendingOrder);
fields<<"menusGroupId"<<"menusGroupCd"<<"menusGroupNameZh"<<"menusGroupNameZh";
QString data = "";
%>
<div id="assignedMenusGroup<%== tid %>" class="mini-listbox" style="width:250px;height:150px;" textfield="<%== lang == "zh" ? "menusGroupNameZh" : "menusGroupNameEn"; %>"
valuefield="menusGroupId" showcheckbox="true" multiselect="true" data='<%== data %>' >
  <div property="columns">
    <div type="indexcolumn"></div>
    <div type="checkcolumn"></div>
    <div visible="false" field="menusGroupId"></div>
    <div header="<%== UI("MENUSGROUPCD") %>" field="menusGroupCd"></div>
    <div header="<%== lang == "zh" ? "menusGroupNameZh" : "menusGroupNameEn"; %>" field="<%== lang == "zh" ? UI("MENUSGROUPNAMEZH") : UI("MENUSGROUPNAMEEN") %>"></div>
  </div>
</div>