<%#include "dataservicecontroller.h" %>
<%#include "sqlobjects/vtodolistbuttonobject.h" %>
<%
QString lang = httpRequest().cookie("lang");
QString tid = tId();

TCriteria cri;
QList<QPair<int, Tf::SortOrder>> sorts;
QStringList fields;

cri.add(VTodoListButtonObject::TodoListId, variant("todoListId"));
sorts<<qMakePair(VTodoListButtonObject::ButtonOrder,Tf::AscendingOrder)<<qMakePair(VTodoListButtonObject::ButtonCd,Tf::AscendingOrder);
fields<<"buttonId"<<"buttonCd"<<"buttonNameZh"<<"buttonNameZh"<<"buttonOrder";

QString data = "";

%>
<div id="assignedButton<%== tid %>" class="mini-listbox" style="width:250px;height:150px;" textfield="<%== lang == "zh" ? "buttonNameZh" : "buttonNameEn"; %>" 
 valuefield="buttonId" showcheckbox="true" multiselect="true" data='<%== data %>'>
  <div property="columns">
    <div type="indexcolumn"></div>
    <div type="checkcolumn"></div>
    <div visible="false" field="buttonId"></div>
    <div header="<%== UI("BUTTONCD") %>" field="buttonCd"></div>
    <div header="<%== lang == "zh" ? "buttonNameZh" : "buttonNameEn"; %>" field="<%== lang == "zh" ? UI("BUTTONNAMEZH") : UI("BUTTONNAMEEN") %>"></div>
    <div header="<%== UI("BUTTONORDER") %>" field="buttonOrder"></div>
  </div>
</div>