<% tfetch(int, tabsActiveIndex) %>
<div id="subTabs" class="mini-tabs" activeindex="<%== tabsActiveIndex %>" style="width:100%;height:100%;" bodystyle="border:0;" onbeforeactivechanged="onBeforeTabChange" onactivechanged="onTabChange" maskonload="false">
  <div title="<%== UI("ToDo Lists") %>" name="/SystemUIsetting/searchTodoList"></div>
  <div title="<%== UI("Menus Groups") %>" name="/SystemUIsetting/searchMenusGroup"></div>
  <div title="<%== UI("Tabs") %>" name="/SystemUIsetting/searchTab"></div> 
  <div title="<%== UI("Menus") %>" name="/SystemUIsetting/searchMenu"></div>
  <div title="<%== UI("Buttons") %>" name="/SystemUIsetting/searchButton"></div>
</div>

