<% 
QString tid = tId();
QVariantMap qMapOut;

qMapOut.insert("tid",tid);
qMapOut.insert("width","200");
qMapOut.insert("height","400");
       
qMapOut.insert("master","TodoList");
qMapOut.insert("masterPairList",QVariantList()<<(QStringList()<<"todoListid"<<variant("todoListid").toString()));

%>
<div id="todoList_related" class="mini-tabs" activeindex="0" style="width:100%;height:100%;" bodystyle="border:0;">
  <div title='<%== UI("Assigned Tabs") %>'>    
    <%
    qMapOut.insert("slaver","Tab");
    qMapOut.insert("slaverList",QStringList()<<"tabId");

    qMapOut.insert("assignWindowUrl","SystemUIsetting/unassignedTodoListByTab");
    qMapOut.insert("unassignUrl","SystemUIsetting/unassignTabToTodoList");
    qMapOut.insert("orderField","tabOrder");
    %>
    <% if (accessAllow("SystemUIsetting/assignTabToTodoList")){ %>
       <a class="mini-button" plain="true" tooltip="<%== UI("Assign") %>" iconCls="icon-add" 
        onclick="assignWinTab()"></a>
        <%== renderPartial("JSassignWindow",qMapOut) %>
    <% } %>
    <% if (accessAllow("SystemUIsetting/unassignTabFromTodoList"))  { %>
        <a class="mini-button" plain="true" tooltip="<%== UI("UnAssign") %>" iconcls="icon-sub" 
        onclick="unassignTab('assignedTab<%== tid %>')" ></a>
        <%== renderPartial("JSunassign",qMapOut) %>
    <% } %>
    <% if (accessAllow("SystemUIsetting/orderTodoListTab"))  { %>
        <a class="mini-button" plain="true" tooltip="<%== UI("Move Up") %>" iconcls="icon-up"
           onclick="moveUpTab('assignedTab<%== tid %>')" ></a> 
        <a class="mini-button" plain="true" tooltip="<%== UI("Move Down") %>" iconcls="icon-down"
           onclick="moveDownTab('assignedTab<%== tid %>')" ></a>
        <%== renderPartial("JSorder",qMapOut) %>
    <% } %>
    
    <%== renderPartial("assignedTab",qMapOut) %>
  </div>
  <div title='<%== UI("Assigned Buttons") %>'>
    <%
    qMapOut.insert("slaver","Button");
    qMapOut.insert("slaverList",QStringList()<<"buttonId");

    qMapOut.insert("assignWindowUrl","SystemUIsetting/unassignedTodoListByButton");
    qMapOut.insert("unassignUrl","SystemUIsetting/unassignButtonToTodoList");
    qMapOut.insert("orderField","buttonOrder");
    %>  
    <% if (accessAllow("SystemUIsetting/assignButtonToTodoList")){ %>
        <a class="mini-button" plain="true" tooltip="<%== UI("Assign") %>" iconCls="icon-add" 
        onclick="assignWinButton()"></a>
        <%== renderPartial("JSassignWindow",qMapOut) %>
    <% } %>
    <% if (accessAllow("SystemUIsetting/unassignButtonFromTodoList"))  { %>
        <a class="mini-button" plain="true" tooltip="<%== UI("UnAssign") %>" iconcls="icon-sub" 
        onclick="unassignButton('assignedButton<%== tid %>')" ></a>
        <%== renderPartial("JSunassign",qMapOut) %>
    <% } %>
    <% if (accessAllow("SystemUIsetting/orderTodoListButton"))  { %>
        <a class="mini-button" plain="true" tooltip="<%== UI("Move Up") %>" iconcls="icon-up"
           onclick="moveUpButton('assignedButton<%== tid %>')" ></a> 
        <a class="mini-button" plain="true" tooltip="<%== UI("Move Down") %>" iconcls="icon-down"
           onclick="moveDownButton('assignedButton<%== tid %>')" ></a>
        <%== renderPartial("JSorder",qMapOut) %>
    <% } %>
    
    <%== renderPartial("assignedButton",qMapOut) %>
  </div>
</div>
 
