<% 
QString tid = tId();
QVariantMap qMapOut;

qMapOut.insert("tid",tid);
qMapOut.insert("width","200");
qMapOut.insert("height","400");
       
qMapOut.insert("master","Button");
qMapOut.insert("masterPairList",QVariantList()<<(QStringList()<<"buttonId"<<variant("buttonId").toString()));
qMapOut.insert("slaver","TodoList");
qMapOut.insert("slaverList",QStringList()<<"todoListid");

qMapOut.insert("unassignedUrl","SystemUIsetting/unassignedTodoListByButton");
qMapOut.insert("unassignUrl","SystemUIsetting/unassignButtonToTodoList");
%>
<div id="button_related" class="mini-tabs" activeindex="0" style="width:100%;height:100%;" bodystyle="border:0;">
  <div title='<%== UI("Assigned TodoLists") %>'>
    <% if (accessAllow("SystemUIsetting/assignButtonToTodoList")){ %>
        <a class="mini-button" plain="true" tooltip="<%== UI("Assign") %>" iconCls="icon-add" 
        onclick="assignWinTodoList()"></a>
        <%== renderPartial("JSassignWindow",qMapOut) %>
    <% } %>
    <% if (accessAllow("SystemUIsetting/unassignButtonToTodoList")) { %>
        <a class="mini-button" plain="true" tooltip="<%== UI("UnAssign") %>" iconcls="icon-sub" 
        onclick="unassignTodoList('assignedTodoList<%== tid %>')" ></a>
        <%== renderPartial("JSunassign",qMapOut) %>
    <% } %>
    
    <% renderPartial("SystemUIsetting/assignedTodoListByButton",qMapOut) %>
  </div>
</div>