<%
QString tid = tId();
QVariantMap qMapOut;

qMapOut.insert("tid",tid);
qMapOut.insert("width","200");
qMapOut.insert("height","400");
       
qMapOut.insert("master","Menu");
qMapOut.insert("masterPairList",QVariantList()<<(QStringList()<<"menuId"<<variant("menuId").toString()));
qMapOut.insert("slaver","MenusGroup");
qMapOut.insert("slaverList",QStringList()<<"menusGroupId");

qMapOut.insert("assignWindowUrl","SystemUIsetting/unassignedMenu");
qMapOut.insert("unassignUrl","SystemUIsetting/unassignMenuFromMenusGroup");
%>
<div id="menu_related" class="mini-tabs" activeindex="0" style="width:100%;height:100%;" bodystyle="border:0;">
  <div title='<%== UI("Assigned MenusGroups") %>'>    
    <% if (accessAllow("SystemUIsetting/assignMenuToMenusGroup")){ %>
        <a class="mini-button" plain="true" tooltip="<%== UI("Assign") %>" iconCls="icon-add" 
        onclick="assignWinMenusGroup()"></a>
        <%== renderPartial("JSassignWindow",qMapOut) %>
    <% } %>
    <% if (accessAllow("SystemUIsetting/unassignMenuFromMenusGroup")) { %>
        <a class="mini-button" plain="true" tooltip="<%== UI("UnAssign") %>" iconcls="icon-sub" 
        onclick="unassignMenusGroup('assignedMenusGroup<%== tid %>')" ></a>
        <%== renderPartial("JSunassign",qMapOut) %>
    <% } %>
    
    <%== renderPartial("SystemUIsetting/assignedMenusGroup",qMapOut) %>
  </div>
</div>