<%
QString lang = httpRequest().cookie("lang");
QVariant tid = tId();
QVariantMap qMapOut;
qMapOut.insert("tid",tid);
%>
<!-- searchFrom -->
<fieldset id="searchFieldsetTab<%== tid %>" class="hideFieldset"> <!--    default hide-->
<legend><label>
<input type="checkbox" onclick="toggleSearch(this, 'searchFieldsetTab<%== tid %>')" hidefocus=""/><%== UI("Search Criteria") %>
</label></legend>
<div class="fieldset-body">
    <%== renderPartial("SystemUIsetting/formSearchTab",qMapOut) %>
 </div>
</fieldset>
<!-- toolBar -->
 <div class="mini-toolbar" style="border:0px">
        <a class="mini-button" onclick="doSearch('searchFormTab<%== tid %>','gridTab<%== tid %>')"><%== UI("Search") %></a>
        <a class="mini-button" onclick="showRecord('gridTab<%== tid %>','<%== UI("Tab") %>',650,500,'/PartialService/formTab?action=show',['tabId'])" tooltip="" ><%== UI("Show Details") %></a>
 </div>
<!-- grid -->
<div class="mini-fit">
<div id="gridTab<%== tid %>" name="gridTab" class="mini-datagrid" url="/DataService/Search/Tab?searchMode=page" allowSortColumn="false"
   style="height:100%" showEmptyText="true" multiSelect="true" onpreload="onpreload" >
  <div property="columns">
   <div type="indexcolumn" width="25"></div>
   <div type="checkcolumn" width="25"></div>
   <div field="tabId" visible="false"><%== UI("TABID") %></div>
   <div field="tabCd" allowsort="true"><%== UI("TABCD") %></div>
   <div field="<%== lang=="zh"?"tabNameZh":"tabNameEn" %>" allowsort="true"><%== lang=="zh"?UI("TABNAMEZH"):UI("TABNAMEEN") %></div>
   <div field="tabTooltip" allowsort="true" width="500"><%== UI("TABTOOLTIP") %></div>
   <div field="tabDesc" allowsort="true" width="100%"><%== UI("TABDESC") %></div>
  </div>
</div>
</div>
<script type="text/javascript">
    mini.parse();
    var grid = mini.get("gridTab<%== tid %>");
    var sorter = new MultiSort(grid);
    sorter.sort([{'field':'tabCd'}]);
  
    grid.on("drawcell", function (e) {
        if (e.field=="tabCd") {
            e.cellHtml = '<a href="javascript:showRecord(\'gridTab<%== tid %>\',\'<%== UI("Tab") %>\',650,500,\'/PartialService/formTab?action=show\',[\'tabId\'])">' + e.value + '</a>';
        }
    });
</script>