<%
QVariant tid = tId();
QVariantMap qMapOut;
qMapOut.insert("tid",tid);
%>
<!-- searchFrom -->
<fieldset id="searchFieldsetButton<%== tid %>" class="hideFieldset"> <!--    default hide-->
<legend><label>
<input type="checkbox" onclick="toggleSearch(this, 'searchFieldsetButton<%== tid %>')" hidefocus=""/><%== UI("Search Criteria") %>
</label></legend>
<div class="fieldset-body">
    <%== renderPartial("SystemUIsetting/formSearchButton",qMapOut) %>
 </div>
</fieldset>
<!-- toolBar -->
 <div class="mini-toolbar">
        <a class="mini-button" onclick="doSearch('searchFormButton<%== tid %>','gridButton<%== tid %>')"><%== UI("Search") %></a>
        <a class="mini-button" onclick="showRecord('gridButton<%== tid %>','<%== UI("Button") %>',650,500,'/PartialService/formButton?action=show',['buttonId'])" tooltip="" ><%== UI("Show Details") %></a>
    <% if (accessAllow("systemuisetting/createButton")){ %>
        <a class="mini-button" onclick="createRecord('<%== UI("Button") %>',650,500,'/PartialService/formButton?action=create')" tooltip="<%== UI("TP_SYSTEMUISETTING_CREATE_BUTTON") %>" ><%== UI("Create") %></a>
    <% } %>
    <% if (accessAllow("systemuisetting/editButton")){ %>
        <a class="mini-button" onclick="editRecord('gridButton<%== tid %>','<%== UI("Button") %>',650,500,'/PartialService/formButton?action=edit',['buttonId'])" tooltip="<%== UI("TP_SYSTEMUISETTING_EDIT_BUTTON") %>" ><%== UI("Edit") %></a>
    <% } %>
    <% if (accessAllow("systemuisetting/deleteButton")){ %>
        <a class="mini-button" onclick="deleteRecord('gridButton<%== tid %>','/SystemUIsetting/deleteButton',['buttonId'],'<%== csrfVal() %>')" tooltip="<%== UI("TP_SYSTEMUISETTING_DELETE_BUTTON") %>" ><%== UI("Delete") %></a>
    <% } %>
 </div>
<!-- grid -->
<div class="mini-fit">
<div id="gridButton<%== tid %>" class="mini-datagrid" url="/DataService/Search/Button?searchMode=page" ajaxOptions="{data:{sortField:'buttonCd'}}"
   style="height:100%" showEmptyText="true" multiSelect="true" onloaderror="onGridLoadError" onload="onGridLoad" >
  <div property="columns">
   <div type="indexcolumn" width="25"></div>
   <div type="checkcolumn" width="25"></div>
   <div field="buttonId" visible="false"><%== UI("BUTTONID") %></div>
   <div field="buttonCd" allowsort="true"><%== UI("BUTTONCD") %></div>
   <div field="buttonNameZh" allowsort="true"><%== UI("BUTTONNAMEZH") %></div>
   <div field="buttonNameEn" allowsort="true"><%== UI("BUTTONNAMEEN") %></div>
   <div field="buttonTooltip" allowsort="true"><%== UI("BUTTONTOOLTIP") %></div>
   <div field="buttonDesc" allowsort="true"><%== UI("BUTTONDESC") %></div>
   <div field="controller" allowsort="true"><%== UI("CONTROLLER") %></div>
   <div field="action" allowsort="true" width="100%"><%== UI("ACTION") %></div>
  </div>
</div>
</div>
<script type="text/javascript">
    mini.parse();
</script>