<%#include <TModelUtil> %>
<%#include "dataservicecontroller.h" %>
<%#include "menusGroupmenu.h" %>
<%#include "sqlobjects/menusgroupmenuobject.h" %>
<%#include "sqlobjects/menusgroupobject.h" %>
<%
QString lang = httpRequest().cookie("lang");

TCriteria cri;
cri.add(MenusGroupMenuObject::MenuId, variant("menuId"));
auto menusGroupMenuList = tfGetModelListByCriteria<MenusGroupMenu, MenusGroupMenuObject>(cri);

QVariantList notIn;

for (auto &x : menusGroupMenuList) {
    notIn<<x.menusGroupId();
}

cri.clear();
QList<QPair<int, Tf::SortOrder>> sorts;
QStringList fields;

cri.add(MenusGroupObject::MenusGroupId, TSql::NotIn, notIn);
sorts<<qMakePair(MenusGroupObject::MenusGroupCd,Tf::AscendingOrder);
fields<<"menusGroupId"<<"menusGroupCd"<<"menusGroupNameZh"<<"menusGroupNameZh";
QString data = "";
QVariantMap qMapOut; 

qMapOut.insert("masterPairList",QList<QVariant>()<<(QStringList() << "menuId" << variant("menuId").toString()));
qMapOut.insert("slaver","MenusGroupMenu");
qMapOut.insert("slaverList",QStringList()<<"menusGroupId");
qMapOut.insert("assignUrl","SystemUIsetting/assignMenuToMenusGroup");

%>
<div id="listBox_unassignedMenusGroup<%== variant("uId") %>" class="mini-listbox" style="width:250px;height:150px;" textfield="<%== lang == "zh" ? "menusGroupNameZh" : "menusGroupNameEn";%>"
valuefield="menusGroupId" showcheckbox="true" multiselect="true" data='<%== data %>'>
  <div property="columns">
    <div type="indexcolumn"></div>
    <div type="checkcolumn"></div>
    <div visible="false" field="menusGroupId"></div>
    <div header="<%== UI("MENUSGROUPCD") %>" field="menusGroupCd"></div>
    <div header="<%== lang == "zh" ? "menusGroupNameZh" : "menusGroupNameEn"; %>" field="<%== lang == "zh" ? UI("MENUSGROUPNAMEZH") : UI("MENUSGROUPNAMEEN") %>"></div>
  </div>
</div>
<% if (variant("assign").toString() == "assign") { %>
  <a class="mini-button" onclick="assignMenusGroup('listBox_unassignedMenusGroup<%== variant("uId") %>')"><%== UI("Assign") %></a>
  <%== renderPartial("JSassign",qMapOut); %>
<% } %>
<% if (variant("window").toString() == "window") { %>
  <a name="closeWindow" class="mini-button" onclick="closeWindow('window<%== variant("uId") %>')"><%== UI("Close") %></a></div>
<% } %>
