<%#include <TModelUtil> %>
<%#include "dataservicecontroller.h" %>
<%#include "todolisttab.h" %>
<%#include "sqlobjects/todolisttabobject.h" %>
<%#include "sqlobjects/tabobject.h" %>
<%
QString lang = httpRequest().cookie("lang");

TCriteria cri;
cri.add(TodoListTabObject::TodoListId, variant("todoListId"));
auto todoListTabList = tfGetModelListByCriteria<TodoListTab, TodoListTabObject>(cri);

QVariantList notIn;

for (auto &x : todoListTabList) {
    notIn<<x.tabId();
}

cri.clear();
QList<QPair<int, Tf::SortOrder>> sorts;
QStringList fields;

cri.add(TabObject::TabId, TSql::NotIn, notIn);
sorts<<qMakePair(TabObject::TabCd,Tf::AscendingOrder);
fields<<"tabId"<<"tabCd"<<"tabNameZh"<<"tabNameZh";
QString data = "";
QVariantMap qMapOut; 

qMapOut.insert("masterPairList",QList<QVariant>()<<(QStringList() << "todoListId" << variant("todoListId").toString()));
qMapOut.insert("slaver","Tab");
qMapOut.insert("slaverList",QStringList()<<"tabId");
qMapOut.insert("assignUrl","SystemUIsetting/assignTabToTodoList");

%>
<div id="listBox_unassignedTab<%== variant("uId") %>" class="mini-listbox" style="width:250px;height:150px;" textfield="<%== lang == "zh" ? "tabNameZh" : "tabNameEn";%>"
valuefield="tabId" showcheckbox="true" multiselect="true" data='<%== data %>'>
  <div property="columns">
    <div type="indexcolumn"></div>
    <div type="checkcolumn"></div>
    <div visible="false" field="tabId"></div>
    <div header="<%== UI("TABCD") %>" field="tabCd"></div>
    <div header="<%== lang == "zh" ? "tabNameZh" : "tabNameEn"; %>" field="<%== lang == "zh" ? UI("TABNAMEZH") : UI("TABNAMEEN") %>"></div>
  </div>
</div>
<% if (variant("assign").toString() == "assign") { %>
   <a class="mini-button" onclick="assignMenu('listBox_unassignedTab<%== variant("uId") %>')"><%== UI("Assign") %></a>
  <%== renderPartial("JSassign",qMapOut); %>
<% } %>
<% if (variant("window").toString() == "window") { %>
  <a name="closeWindow" class="mini-button" onclick="closeWindow('window<%== variant("uId") %>')"><%== UI("Close") %></a></div>
<% } %>
