<%#include <TModelUtil> %>
<%#include "dataservicecontroller.h" %>
<%#include "todolistbutton.h" %>
<%#include "sqlobjects/todolistbuttonobject.h" %>
<%#include "sqlobjects/buttonobject.h" %>
<%
QString lang = httpRequest().cookie("lang");

TCriteria cri;
cri.add(TodoListButtonObject::TodoListId, variant("todoListId"));
auto todoListButtonList = tfGetModelListByCriteria<TodoListButton, TodoListButtonObject>(cri);

QVariantList notIn;

for (auto &x : todoListButtonList) {
    notIn<<x.buttonId();
}

cri.clear();
QList<QPair<int, Tf::SortOrder>> sorts;
QStringList fields;

cri.add(ButtonObject::ButtonId, TSql::NotIn, notIn);
sorts<<qMakePair(ButtonObject::ButtonCd,Tf::AscendingOrder);
fields<<"buttonId"<<"buttonCd"<<"buttonNameZh"<<"buttonNameZh";

QString data = "";
QVariantMap qMapOut; 

qMapOut.insert("masterPairList",QList<QVariant>()<<(QStringList() << "todoListId" << variant("todoListId").toString()));
qMapOut.insert("slaver","Button");
qMapOut.insert("slaverList",QStringList()<<"buttonId");
qMapOut.insert("assignUrl","SystemUIsetting/assignButtonToTodoList");

%>
<div id="listBox_unassignedButton<%== variant("uId") %>" class="mini-listbox" style="width:250px;height:150px;" textfield="<%== lang == "zh" ? "buttonNameZh" : "buttonNameEn";%>"
valuefield="buttonId" showcheckbox="true" multiselect="true" data='<%== data %>'>
  <div property="columns">
    <div type="indexcolumn"></div>
    <div type="checkcolumn"></div>
    <div visible="false" field="buttonId"></div>
    <div header="<%== UI("BUTTONCD") %>" field="buttonCd"></div>
    <div header="<%== lang == "zh" ? "buttonNameZh" : "buttonNameEn"; %>" field="<%== lang == "zh" ? UI("BUTTONNAMEZH") : UI("BUTTONNAMEEN") %>"></div>
  </div>
</div>
<% if (variant("assign").toString() == "assign") { %>
   <a class="mini-button" onclick="assignMenu('listBox_unassignedButton<%== variant("uId") %>')"><%== UI("Assign") %></a>
   <%== renderPartial("JSassign",qMapOut); %>
<% } %>
<% if (variant("window").toString() == "window") { %>
  <a name="closeWindow" class="mini-button" onclick="closeWindow('window<%== variant("uId") %>')"><%== UI("Close") %></a></div>
<% } %>
